body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.counter-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;

}

.counter-display {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  touch-action: manipulation;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 40px;
  height: 40px;
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
  background-color: #0056b3;
}

button.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: gray;
}

#productCount {
  user-select: none;
}

.info {
  position: fixed;
  left: 50%;
  top: 0;
  background-color: #007bff;
  color: white;
}